#smol-state {
    display: flex;
    flex-direction: row;
}

#main {
    display: flex;
    flex-direction: column;
}

#row {
    display: flex;
    flex-direction: row;
}

code.blank {
    display: inline-block;
    white-space: pre-wrap;
    color: black;
    background-color: white;
    vertical-align: top;
}

.now .calling {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 187, 0);
}

.now .returning {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 200);
}

.now .replacing {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 200);
}

.now .terminated {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

.now .errored {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 127, 121);
}

/* All three columns have margins. */
.column {
    margin-left: 1em;
    margin-right: 1em;
}

.env-frame {
    color: black;
    background-color: rgb(65, 188, 118)
}

.stack-frame {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 187, 0);
}

.box {
    padding: 1em;
    border-radius: 1ex;
    margin-top: 1ex;
}

.fun {
    color: rgb(0, 0, 0);
    background-color: rgb(193, 225, 151);

}