#smol-state {
    display: flex;
    flex-direction: row;
}

#main {
    display: flex;
    flex-direction: column;
}

#row {
    display: flex;
    flex-direction: row;
}

code.blank {
    display: inline-block;
    white-space: pre-wrap;
    padding: 0 1ex;
}
